style
body{
    width: 100%;
    height: 100vh;
}

header,main,footer{
    width: 100%;
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
}
.logo {
    width: 10%;
    height:10%;
    margin-top: 5%;
}
#banner {
    margin-top: 7%;
    width: 20%;
    height:24%
}

#banner2{
    margin-top: 7%;
    width: 95%;
    height:100%;

}


#banner3{
    margin: 0 auto;
   
   width: 200%;
}


.abajo{
    width: 100%;
    height: 100%;
    margin-top: 0%;
}

header nav{
    margin-top: 7%;
    flex-direction: row;
    width: 95%;
    height:100%;
    margin: 0 auto;
}
    header nav ul{
        
        font-family: Raleway ;
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 10%;
    }
        header nav ul li{
            margin-left: 50px;
            list-style:none;
        }
#fondo{
   
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap:wrap;
    align-items: center;
    justify-content: left;
  
}

#fondoImagen{
    width: 30%;
    height: 70%;
    
}
.bloqueDeTexto{
    margin-top: -2%;
    font-size: 100%;
    font-family: Raleway;
    position: absolute;
    margin-left: 31%;
}


#banner3{
    margin-top: -3%;
    width: 80%;
    height: 60%;
    margin-block-end: -2%
}
#textoReserva{
    font-family: Raleway ;
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding: 10%;
}