body{
    width: 100%;
    height: 120vh;
}


header{
  
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.logo {
    width: 10%;
    height:10%;
   
}
#Parte_Arriba{

    width: 100%;
    height:100%;

}

#banner2{
   
    width: 100%;
    height:100%;

}
main{
    background: rgba(206, 108, 50, 1); ;
    width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
}
main div{
    width: 100%;


}

main img{
    width: 33%;
}





header nav {
    position: absolute;
    margin-top: 5.3%;
   margin-left: 35%;
}

    header nav ul{
      
        font-family: Raleway ;
        display: flex;
        flex-direction: row;
      
      font-size: 90%;
    }
        header nav ul li{
           margin-left: 30%;
            list-style:none;
        }




        .abajo{
            position: absolute;
            width: 100%;
        
        }
        .imputsito{
            width: 20%;
            height:5%;
            position: absolute;
            margin-top: 6%;
            margin-left: 40%;
        }
